@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/regular/Poppins-Regular.eot');
    src: url('../fonts/regular/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/regular/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/regular/Poppins-Regular.woff') format('woff'),
        url('../fonts/regular/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/regular/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/medium/Poppins-Medium.eot');
    src: url('../fonts/medium/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/medium/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/medium/Poppins-Medium.woff') format('woff'),
        url('../fonts/medium/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/medium/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

