@media (max-width:1024px){
    /* <header>   */
    .header-box{
        width: 95%;
    }
    .title{
        font-size: 70px;
    }
    /* <header> */
    /* <section2> */
    .text1,
    .text2,
    .view{
        width: 80%;
        text-align: center;
    }
    .text1{
        font-size: 30px;
    }
    .text2{
        font-size: 12px;
    }
    .view{
        height: 65px;
        max-width: 250px;
    }
    .view a{
        font-size: 10px;
    }
     /* <section2>    */
    /* <section3> */
    .container,
    .title-wrapper{
        width: 80%;
    }
    .container-title{
        font-size: 30px;
    }
    .container-text{
        font-size: 12px;
    }


    .box{
        width: 45%;
    }
    .box:nth-child(3){
        margin-top: 25px;
    }
}
@media (max-width:760px){
    .header{
        height: 750px;
    }
    .nav-li:not(.active){
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .title{
        font-size: 50px;
    }
    .logo img{
        width: 100px;
    }
    /* <header> */
    /* <section2> */
    .box-wrapper{
        flex-direction: column;
    }
    .left-box,
    .right-box{
	    width: 100%;
        height: 500px;
    }
    .right-box img{
        height: 500px;
    }
    .text1{
        font-size: 28px;
    }
    .text2{
        font-size: 12px;
        margin-top:30px;
    }
    .view{
        height: 60px;
        max-width: 200px;
    }
    /* <section2> */
    /* <section3> */
    .container,
    .title-wrapper{
        width: 90%;
    }
    .container-title{
        font-size: 25px;
        font-weight: bold;
    }
    .container-text{
        font-size: 12px;
    }
    .box{
        height: 300px;
        width:90%;
    }
    .box:nth-child(2) {
        margin-top: 25px;
    }
    .box-container{
        justify-content: center;
    }
    .icon{
        height: 80px;
        width: 80px;
    }
    .icon img{
        size: 30px;
    }
    .box-title{
        font-size: 16px;
    }
    .box-text{
        font-size:13px;
    }
}
@media (max-width:350px){
    .header{
        height: 700px;
    }
    .nav-wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }
    .fa-bars{
        margin-bottom: 5px;
    }
    .logo img{
        width: 80px;
    }
    .title{
        font-size: 40px;
    }
    /* <section2> */
    .left-box,
    .right-box{
        height: 400px;
    }
    .right-box img{
        height: 400px;
    }
    .text1{
        font-size: 25px;
    }
    .view{
        height: 50px;
        max-width: 150px;
    }
    /* <section3> */
    .title-wrapper{
        width: 100%;
    }
    .icon{
        height: 70px;
        width: 70px;
    }
    .box{
        height: 250px;
    }

}
