/*<header>*/
.header{
	background-image:url(../images/bg.jpg);
	height: 900px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-box{
	max-width: 1070px;
	width: 100%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top:60px;
}
.nav-ul{
	display: flex;
}
.nav-li{
	margin-right: 30px;
}
.nav-li:last-child{
	margin-right: 0;
}
.nav-li a{
	color: #D9F0FF;
	font-size: 12px;
	font-family: 'Poppins-Medium';
	text-transform: uppercase;
}
.fa-bars{
	color: #FFFFFF;
	font-size: 20px;
	margin: 0 20px 0 20px;
	display: none;
}
.nav-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}
.title{
	max-width: 1070;
	width: 100%;
	color: #FFFFFF;
	font-size: 100px;
	font-family: 'Lato';
	margin-top: 183px;
	text-align: center;
}
/*<end of header>*/
/*<start of section2 styles>*/
.box-wrapper{
	display: flex;
}
.left-box,
.right-box{
	width: 50%;
}
/*.right-box{
	background-image: url(../images/image1.jpg);
	height: 601px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}*/
.right-box img{
	height: 601px;
	width: 100%;
	object-fit: cover;
	display: block;
}
.left-box{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}
.text1{
	max-width: 468px;
	width: 100%;
	font-size: 50px;
	color: #000000;
	font-family: 'Lato';
}
.text2{
	max-width: 457px;
	width: 100%;
	font-size: 16px;
	color: #000000;
	font-family: 'Poppins-Regular';
	margin-top:24px;
	margin-bottom:48px;
}
.view{
	height: 72px;
	max-width:307px;
	width: 100%;
	background-color: #325DFF;
	border-radius: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.view a{
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Lato';
	font-weight: bold;
	text-transform: uppercase;
}
/*<end of section2 styles>*/
/*<start of section3 styles>*/
.section3{
	background-color: #FAFAFA;
	padding-top: 77px;
	padding-bottom: 120px;
}
.container{
	max-width: 1171px;
	width: 100%;
	margin: 0 auto;
}
.title-wrapper{
	max-width: 771px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.container-title{
	color: #000000;
	font-size: 35px;
	font-family: 'Lato';
	margin-bottom: 10px;
}
.container-text{
	color: #000000;
	font-size: 16px;
	font-family: 'Poppins-Regular';
	line-height: 25px;
}
.box-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 62px;
}
.box{
	height: 374px;
	/* max-width: 371px; */
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
}
.icon{
	height: 88px;
	max-width: 88px;
	width: 100%;
	background-color: #325DFF;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon img{
	size: 32px;
}
.box-title{
	color: #000000;
	font-size: 18px;
	font-family: 'Lato';
	margin-top: 27px;
	margin-bottom: 10px;
	font-weight: bold;

}
.box-text{
	max-width: 256px;
	width: 100%;
	font-size: 16px;
	font-family: 'Lato';
	text-align: center;
}
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6){
	margin-top: 25px;
}
/*<end of section3 styles>*/





